<html>
  <head>
    <title>Shoe Experts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <br>
      <h1>Shoe Experts</h1>
      <br>
      <h2>A place to search for shoes and the stores that carry them.</h3>
    </nav>
          <div class='container'>
            <p>Delete Confirmation: All brands have been deleted</p>
            <a href="/"><button class="btn-success btn-lg">Home</button></a>
          </div>
  </body>
</html>
