 <html>
     <head>
         <title>Shoe Experts</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
         <link rel="stylesheet" href="/css/styles.css">
     </head>
         <body>
           <nav class="navbar navbar-inverse">
             <br>
             <h1>Shoe Experts</h1>
             <br>
             <h2>A place to search for shoes and the stores that carry them.</h3>
           </nav>
         <body>
         <div class='container'>

          <h3>Update {{ store.GetStoreName }}</h3>
          <br>

        <form action="/stores/{{ store.getId }}" method='post'>
            <input name='_method' type='hidden' value='patch'>
            <label for='store_name'>Rename Store:</label>
            <input id='store_name' name='store_name' type='text'>
            <button type='submit btn' class='btn btn-warning btn-sm'>Update</button>
        </form>

        <form action="/stores/{{ store.getId }}" method="post">
            <input name="_method" type="hidden" value="delete">
            <button type='submit btn-lg' class='btn btn-danger btn-lg'>Delete Store</button>

        </form>
        <a href="/"><button class="btn-success btn-lg">Home</button></a>
        </div>
     </body>
 </html>
