<html>
  <head>
    <title>Shoe Experts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
      <div class='container'>
          <div class="row">
              <h1><div class="col-md-8">Shoe Experts</div></h1>
              <br>
              <br>
              <br>
              <br>
              <div class="col-md-4"><img src="shoeexperts.jpeg" class="img-responsive" alt="Visit Shoe Experts!"></div>
              <br>
              <br>
              <a href="/stores" class="btn-success btn-lg" role="button">Click here to view, add, update, or delete shoe stores</a>
              <br>
              <br>
              <br>
              <br>
              <a href="/brands" class="btn-success btn-lg" role="button">Click here to view or add shoe brands</a>

  </body>
</html>
