<html>
  <head>
    <title>Shoe Experts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <h1>Shoe Experts</h1>
      <h2>A place to search for shoes and the stores that carry them.</h3>
    </nav>
          <div class='container'>
          <div class="row">
                {% if brands is not empty %}
                    <p>Here are {{ store.GetStoreName }}'s shoe brands:</p>
                    <ul>
                        {% for brand in brand %}
                            <li>{{ brand.getBrandName }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <a class="btn-success btn-lg" href="/stores/{{ store.getId }}/edit" role="button">Edit or Delete Store</a>
        </div>
        </div>
  </body>
</html>
