<html>
    <head>
        <title>Shoe Experts</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
        <body>
          <nav class="navbar navbar-inverse">
            <br>
            <h1>Shoe Experts</h1>
            <br>
            <h2>A place to search for shoes and the stores that carry them.</h3>
          </nav>
        <body>
        <div class='container'>

            <h3>Enter a store's name:</h3>

            <form action='/stores' method='post'>
                <div class ='form-group'>
                    <label for='store_name'></label>
                    <input id='store_name' class='form-control' placeholder='Store Name' name='store_name' type='text'>
                    <br>
                    <button type='submit btn-lg' class='btn btn-success btn-lg'>Add Store</button>
                </div>
            </form>

            {% if stores is not empty %}
                <h3><p>Click on a store's name to see the brands they carry, and to edit store information:</p></h3>
                <h3><ul>
                    {% for store in stores %}
                        <li><a href="/stores/{{ store.getId }}">{{ store.getStoreName }}</a></li>
                    {% endfor %}
                </h3></ul>
                <br>

                <form action='/delete_stores_confirm' method='post'>
                  <button class="btn-danger btn-lg" type="submit">Delete All Stores</button>
                </form>

            {% else %}
               <p>There are no stores entered yet!</p>
            {% endif %}
           <br>
           <a href="/"><button class="btn-success btn-lg">Home</button></a>
       </div>
    </body>
</html>
